@model RecordSet

@{
    ViewData["Formic.Title"] = "Create a " + Model.EntityName;
}

<form method="post">
    <div class="button-tray">
        <input type="submit" value="save" class="flat-button save" />
    </div>
    <div asp-validation-summary="All"></div>
    <div class="form-fields">
        @foreach (var prop in Model.Properties.Where(p => !p.IsPrimaryKey))
        {
            @Html.EditorProperty(null, prop)
        }
    </div>
</form>
