@model RecordSet

@{
    ViewData["Formic.Title"] = "Create a " + Model.EntityName;
}

<div class="mdl-grid mdl-color--white mdl-shadow--2dp">
    <form method="post" class="mdl-cell mdl-cell--12-col">
        @foreach (var prop in Model.Properties.Where(p => !p.IsPrimaryKey))
        {
            @Html.EditorProperty(null, prop)
        }
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>


