@model RecordSet

@{
    ViewData["Formic.Title"] = "Edit a " + Model.EntityName;
    var entity = Model.Data.Single();
}

<form method="post">
    <div class="button-tray">
        <button type="submit" class="flat-button save">save</button>
        <button type="submit"  class="flat-button delete"
                asp-controller="Home" asp-action="DeleteRecord"
                asp-route-table="@Model.EntityName">delete</button>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="form-fields">
    @foreach (var prop in Model.Properties)
    {
        <div class="form-group">
            @Html.EditorProperty(entity, prop)
        </div>
    }
    </div>
</form>
