@model RecordSet

@{
    ViewData["Formic.Title"] = "Edit a " + Model.EntityName;
    var entity = Model.Data.Single();
}

@using (Html.BeginForm("DeleteRecord","Home"))
{
    <input type="submit" value="Delete" />
}

@using (Html.BeginForm(FormMethod.Post, new { @class = "mdl-grid mdl-color--white mdl-shadow--2dp", style = "max-width:1080px" }))
{
    @foreach (var prop in Model.Properties)
    {
        if (prop.IsPrimaryKey)
        {
            // primary key shouldn't be edited
            @Html.EditorProperty(entity, prop.Property, new { type = "hidden" })
        }
        else
        {
            @Html.EditorProperty(entity, prop.Property)
        }
    }
    <div>
        <input type="submit" value="Save" />
    </div>
}

