@model RecordSet

@{
    ViewData["Formic.Title"] = "Edit a " + Model.EntityName;
    var entity = Model.Data.Single();
}


<div class="mdc-card mdc-card__primary edit-form">
    <form asp-controller="Home" asp-action="DeleteRecord" style="text-align:right">
        <button class="mdc-icon material-icons delete-button" title="Delete this @Model.EntityName">
            delete
        </button>
    </form>
    <form method="post">
        @foreach (var prop in Model.Properties)
        {
            @Html.EditorProperty(entity, prop)
        }
        <div class="button-tray">
            <input type="submit" value="Save" class="mdc-button mdc-button--raised mdc-button--primary" />
        </div>
    </form>
</div>
