@model RecordSet

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm())
{
    <table>
    @foreach (var prop in Model.Properties)
    {
        <tr>
            <th>@prop.Name:</th>
            <td>@Html.EditorProperty(null, prop)</td>
        </tr>
    }
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>

}

