@model RecordSet

@{
    ViewData["Formic.Title"] = "Edit a " + Model.EntityName;
    var entity = Model.Data.Single();
}

@using (Html.BeginForm("DeleteRecord","Home"))
{
    <input type="submit" value="Delete" />
}

@using (Html.BeginForm())
{
    <table>
    @foreach (var prop in Model.Properties)
    {
        if(prop.IsPrimaryKey)
        {
            // primary key shouldn't be edited
            @Html.EditorProperty(entity, prop.Property, new { type = "hidden" })
        }
        else
        {
            <tr>
                <th>@prop.Description:</th>
                <td>@Html.EditorProperty(entity, prop.Property)</td>
            </tr>
        }
    }
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>

}

