@model RecordSet

@{
    ViewData["Formic.Title"] = Model.EntityName;
}

<table class="
       center
       mdl-data-table mdl-js-data-table
       mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            @foreach(var property in Model.Properties)
            {
                <th>@property.Description</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(var record in Model.Data)
        {
            <tr>
            @foreach(var property in Model.Properties)
            {
                <td>@Html.DisplayProperty(record, property.Property)</td>
            }
            </tr>
        }
    </tbody>
</table>

<a href="@Model.EntityName/Create"
   title="Create a new @Model.EntityName"
   class="mdl-button mdl-js-button mdl-button--fab
          mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp">
  <i class="material-icons">add</i>
</a>