.mdl-data-table {
    position: relative;
    border: 1px solid rgba(0,0,0,.12);
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-data-table thead {
    padding-bottom: 3px
}

.mdl-data-table tbody tr {
    position: relative;
    height: 48px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: background-color
}

.mdl-data-table tbody tr:hover {
    background-color: #eee
}

.mdl-data-table td {
    text-align: right
}

.mdl-data-table th {
    padding: 0 18px 12px 18px;
    text-align: right
}

.mdl-data-table td:first-of-type,.mdl-data-table th:first-of-type {
    padding-left: 24px
}

.mdl-data-table td:last-of-type,.mdl-data-table th:last-of-type {
    padding-right: 24px
}

.mdl-data-table td {
    position: relative;
    height: 48px;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 12px 18px;
    box-sizing: border-box
}

.mdl-data-table th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0,0,0,.54);
    padding-bottom: 8px;
    box-sizing: border-box
}