@import "_vars";

html, body {
    height:100%;
    margin:0;
    padding:0;
    background-color:#f5f5f5;
}
html {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
header {
    order: 1;
    flex: 1 100%;
}
.drawer {
    order: 2;
    padding-top:20px;
}
main {
    order: 3;
    flex-grow:1;
    height:100%;
    padding:8px 20px;
    width:0;
    overflow:auto;
}

header {
    height:80px;
    display:block;
    width:100%;
    border-bottom:1px solid #ddd;
    background-color:#fff;
}
header h1 {
    text-align:center;
    line-height:80px;
    margin:0;
}
