<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewData["Formic.Title"] - Formic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
    <link rel="stylesheet" href="~/style/bundle.css" />
</head>
<body id="with-drawer">
    <header>
        <a href="#with-drawer" class="mobile-menu-control menu-open"><i class="fa fa-bars" aria-label="Navigation"></i></a>
        <h1 class="title">@ViewData["Formic.Title"]</h1>
    </header>
    <vc:Navigation></vc:Navigation>
    <main>
        @RenderBody()
    </main>

    @RenderSection("scripts", required: false)
    @*<vc:Debug></vc:Debug>*@
</body>
</html>