@using Formic.ViewComponents
@model NavigationViewModel

<nav class="drawer" id="drawer">
    <a href="#" class="mobile-menu-control menu-close"><i class="fa fa-times" aria-label="close"></i></a>
    <h2>Tables</h2>
    <div class="table-list">
        @foreach (var table in Model.Tables)
        {
            <a href="/@table" class="@(table == Model.SelectedTable ? "active" : "")"><i class="fa fa-table" aria-hidden="true"></i><span class="table-name">@table</span></a>
        }
    </div>
</nav>
